@*  @model CRUD.Domain.Models.Product
@{
    ViewData["Title"] = Model != null && Model.ID == 0 ? "Create Product" : "Edit Product";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        display: none;
    }
</style>

<div class="container">
    <form method="post" action="CreateOrEdit">
        <div class="card col-lg-5 p-0 mx-auto">
            <!-- Add mx-auto class for horizontal centering -->
            <div class="card-header bg-success text-center">
                <!-- Add text-center class for centering text -->
                <h2 class="text-white"> @ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <input type="hidden" asp-for="ID" />
                    <div class="form-floating mb-2 ">
                        <input asp-for="ProductName" class="form-control" />
                        <label asp-for="ProductName"></label>
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-2 ">
                        <input asp-for="Price" class="form-control" />
                        <label asp-for="Price"></label>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-2">
                        <input asp-for="Qty" class="form-control" />
                        <label asp-for="Qty">Quantity</label>
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>
                    <div>
                        @if (Model != null && Model.ID == 0)
                        {
                            <div class="d-flex flex-row justify-content-center mt-3">
                                <div class="col-lg-2 d-grid ">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex flex-row justify-content-center mt-3">
                                <div class="col-lg-2 d-grid ">
                                    <button type="submit" class="btn btn-success">Update</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

 *@